<template>
  <v-container class="pa-0" >
    <v-snackbar v-model="snackbar" :timeout="8000" top color="orange" dark  > {{text}}
      <v-btn color="white" text @click="snackbar = false"> Cerrar </v-btn>
    </v-snackbar>
    <v-row justify="space-around" align="center">
      <v-dialog
        v-model="dialog"
        hide-overlay
        persistent
        width="300"
      >
        <v-card
          color="primary"
          dark
        >
          <v-card-text>
            Cargando, espere por favor
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'
const {Base64} = require('js-base64');
  export default {
    data(){
      return{
        dialog: true,
        
        password: '',
        email:'',

        snackbar: false,
        y: 'top',
        x: null,
        mode: '',
        timeout: 8000,
        text: '',

        show1: false,
        error: '',

        ventana:['Calculador wataje','Cotizador'],
        value:'',

        valid: true,
        rules: {
          required: value => !!value || 'Requerido.',
          min: v => (v && v.length <= 10) || 'Minimo 8 caracteres'
        },

        NombreAsig: '',
        Nomuser: '',
      }
    },

    created(){
      if(this.$route.params.id != undefined){
        this.$http.get('users/' + Base64.decode(this.$route.params.id)).then(response=>{
          // Verificamos que haya iniciado sesión el usuario
          if(response.body.sesion == 1){
          	// Guardamos los parametros
            this.email = response.body.email
            this.password = response.body.password
            this.sesion = response.body.sesion
            // Verificamos el nivel del usuario
            this.ingresar()
          }else{
            window.location = 'http://mikai.mx/intranet/#/' 
          }
        }).catch(error=>{
        	console.log(error.body.message)
        })
      }else{
        window.location = 'http://mikai.mx/intranet/#/' 
      }
    },


    methods:{
      ...mapActions('Login',['GetInfoUser']),

      ingresar (){
      	// Cargamos la libreria
        var md5     = require('md5')
        
        // Validamos la sesión, si es uno
        if(this.sesion == 1){
          var usuario = { "email" : this.email, "password": this.password}
        }else{
          // Si no, mandamos otros parameteos encriptados
          var usuario = { "email" : this.email, "password": md5(this.password)}
        }
        // Traemos la información del usuario
        this.GetInfoUser(usuario).then(response => {
          if(response == false){
            this.text  = "Verifica que tus datos esten correctos"
            this.snackbar = true 
            return
          }else if(response == true){
          	this.dialog = false
            this.$router.push({ name: 'home' })  
          }else{
            this.text  = response; this.snackbar = true 
          }
        }).catch(error =>{
        	this.dialog = false
          console.log(error)
        })
      }
    }
  };


</script>

<style scoped>
  #img{
    border-radius: 20px;
  }
</style>





  