<template>
  <v-app>
    <v-app-bar
      v-if="getLogeado"
      app
      color="grey darken-2"
      dark
    >
      <v-app-bar-nav-icon @click="drawer=!drawer" class="mr-4"></v-app-bar-nav-icon>
      Sistema de formatos ISO
      <v-spacer></v-spacer>
      <v-btn text icon  @click="salir"><v-icon>mdi-exit-to-app</v-icon></v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-if="getLogeado"
      v-model="drawer"
      app
      left
      :mini-variant.sync="mini"
    >
      <v-list dense>
        <v-card  width="100%" class="transparent elevation-0 mt-2" align="center">
          <v-img src="https://www.mikai.mx/wp-content/uploads/2019/11/mikai-logo.png"/>
        </v-card>
      </v-list>

      <v-divider></v-divider>

      <v-list-item class="px-2">
        <v-list-item-avatar>
         <v-avatar color="red" style="min-width: 0px !important">
            <span class="white--text text-h5" >{{ getdatosUsuario.nomuser.substr(0,1) }}</span>
          </v-avatar>
        </v-list-item-avatar>

        <v-list-item-title>{{getdatosUsuario.nomuser}}</v-list-item-title>

        <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-list dense v-if="getdatosUsuario.admin == 'ADMIN'">
        <v-list-item
          v-for="(accion, i) in acciones"
          :key="i"
          :to="{name: accion.path}"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ accion.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="accion.nomaccion.toUpperCase()"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-list dense v-else>
        <v-list-item
          :to="{name: acciones[0].path}"
          color="primary"
        >
          <v-list-item-content class="pa-0">
            <v-list-item-title v-text="acciones[0].nomaccion.toUpperCase()"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>


    <v-main>
      <v-container fluid class="elevation-0 transparent">
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container> 
    </v-main>
  </v-app>
</template>

<script>

  import {mapGetters, mapActions} from 'vuex'

  export default {
    name: 'App',

    components: {

    },

    data: () => ({
      //
      model: null,
      draw: false,
      drawer: false,
      acciones: [
        {nomaccion: 'Formatos', icon:'mdi-file', path:'formatos', general: true},
      ],
      mini: true,
    }),

    computed:{
      ...mapGetters('Login', ['getLogeado','getdatosUsuario'])
    },

    methods:{
      ...mapActions('Login',['salirLogin']),
      
      salir(){
        location.href = 'https://mikai.mx/intranet/#/home';
      }
    },
  };
</script>
